/* A Modern CSS Reset */
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  border-style: solid;
  box-sizing: border-box;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 0;
  background: transparent;
  font: inherit;
  outline: none;
}

textarea {
  resize: none;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
}

body {
  color: #202925;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4414414414vw;
  }
}
@media (min-width: 1110px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  a {
    transition: 0.3s;
  }
  a:hover {
    opacity: 0.5;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .header {
    height: 9.375rem;
  }
}

.top__header.headerColorScroll {
  background-color: #fff;
  transition: background-color 0.3s;
}

.contents__header.headerColorScroll {
  background-color: #202925;
  transition: background-color 0.3s;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__inner {
    align-items: flex-start;
  }
}

.header__logo {
  width: 6.5625rem;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 14.375rem;
    margin-top: 2.5rem;
  }
}

.header__logo a {
  display: flex;
  align-items: center;
}

.header__hamburger {
  margin-right: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__nav {
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 90;
  transition: 0.8s;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .header__nav {
    position: static;
    margin-top: 2.5rem;
    opacity: 1;
  }
}

.header__nav.is-open {
  right: 0;
  opacity: 1;
}

.footer {
  padding-top: 1.25rem;
  padding-bottom: 4.5rem;
  background-color: #202925;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 2.5rem;
    padding-bottom: 6rem;
  }
}

.top-footer {
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .top-footer {
    margin-top: 6.25rem;
  }
}

.footer__logo {
  width: 8.125rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 13.75rem;
  }
}

.footer__container {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__container {
    margin-top: 1.3125rem;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    margin-left: 0.625rem;
  }
}

.footer__info-item {
  display: flex;
  font-size: 1rem;
  line-height: 1.4375;
  color: #E3E3E3;
}

.footer__info-item:nth-child(n+2) {
  margin-top: 1.25rem;
}

.footer__info-item dt {
  width: 6.4375rem;
  flex-shrink: 0;
}

.footer__info-item dd {
  width: 18rem;
}

.footer__map {
  margin-top: 2.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__map {
    width: 22.5rem;
    margin-top: 0;
    margin-right: 0.625rem;
  }
}

.footer__map iframe {
  width: 100%;
  height: calc((100vw - 30px) / 345 * 200);
}
@media screen and (min-width: 768px) {
  .footer__map iframe {
    height: 16.3125rem;
  }
}

.inner {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1110px;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.top-title {
  font-size: 1.5rem;
  line-height: 1.4583333333;
  font-weight: 400;
  display: inline-block;
  position: relative;
  margin-top: 0.4375rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 768px) {
  .top-title {
    font-size: 2.5rem;
    line-height: 1.425;
    margin-top: 0;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.top-title::before {
  content: "";
  display: block;
  border: 1px solid #707070;
  height: 3rem;
  width: calc(100% + 1.125rem);
  position: absolute;
  top: -0.4375rem;
  left: -0.5rem;
}
@media screen and (min-width: 768px) {
  .top-title::before {
    border: 1px solid #91855F;
    height: 4.8125rem;
    width: calc(100% + 1.25rem);
    top: -0.625rem;
    left: -0.625rem;
  }
}

.top-title::after {
  content: "";
  display: block;
  border: 1px solid #707070;
  height: 2.9375rem;
  width: calc(100% + 1.125rem);
  position: absolute;
  top: -0.1875rem;
  left: -0.1875rem;
}
@media screen and (min-width: 768px) {
  .top-title::after {
    border: 1px solid #91855F;
    height: 4.8125rem;
    width: calc(100% + 1.25rem);
    top: -0.3125rem;
    left: -0.3125rem;
  }
}

.contents-title {
  font-size: 3rem;
  line-height: 1.4375;
  font-weight: 500;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .contents-title {
    font-size: 6.25rem;
    line-height: 1.44;
  }
}

.contents-title::first-letter {
  color: #91855F;
}

.btn {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  text-transform: uppercase;
  color: #E2E2E2;
  padding: 0.625rem 1.875rem;
  border-radius: 1.25rem;
  background: linear-gradient(to right, #91855F, #494330);
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1rem;
    line-height: 1.4375;
    padding: 0.5625rem 2.25rem;
  }
}

.hamburger {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
  z-index: 100;
}

.hamburger--top {
  background-color: rgba(32, 41, 37, 0.8);
}

.hamburger--contents {
  background-color: rgba(226, 226, 226, 0.8);
}

.hamburger__bar {
  display: block;
  width: 1.25rem;
  height: 0.125rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.hamburger__bar--top {
  background-color: #E2E2E2;
}

.hamburger__bar--contents {
  background-color: #202925;
}

.hamburger__bar:nth-of-type(1) {
  top: 0.8125rem;
}

.hamburger__bar:nth-of-type(2) {
  top: 1.375rem;
}

.hamburger__bar:nth-of-type(3) {
  top: 1.9375rem;
}

.hamburger.is-open {
  background-color: rgba(226, 226, 226, 0.8);
}

.hamburger.is-open .hamburger__bar {
  background-color: #000000;
}

.hamburger.is-open .hamburger__bar:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.is-open .hamburger__bar:nth-of-type(2) {
  opacity: 0;
  transform: translate(-50%, -50%);
}

.hamburger.is-open .hamburger__bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header-nav {
  width: 100%;
  height: 100vh;
  background: url(../img/common/img_sp_drawer.jpg) no-repeat center/cover;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .header-nav {
    width: initial;
    height: initial;
    background: initial;
    overflow-y: initial;
  }
}

.header-nav__items {
  margin-top: max(100vh - 14.5625rem, 100px);
  margin-left: 50%;
}
@media screen and (min-width: 768px) {
  .header-nav__items {
    margin-top: 0;
    margin-left: 0;
    display: flex;
  }
}

.header-nav__item:nth-child(1) {
  margin-top: calc(100vh - 14.5625rem);
}
@media screen and (min-width: 768px) {
  .header-nav__item:nth-child(1) {
    margin-top: 0;
  }
}

.header-nav__item:nth-child(n+2) {
  margin-top: 2.625rem;
}
@media screen and (min-width: 768px) {
  .header-nav__item:nth-child(n+2) {
    margin-top: 0;
    margin-left: 3.125rem;
  }
}

.header-nav__item span {
  font-size: 1.5rem;
  line-height: 1.4583333333;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .header-nav__item span {
    position: relative;
  }
}

.header-nav__item--top {
  color: #E2E2E2;
}
@media screen and (min-width: 768px) {
  .header-nav__item--top {
    color: #202925;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__item a span::before {
    content: "";
    display: block;
    width: calc(100% + 0.8125rem);
    height: 1px;
    background-color: #707070;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(0, 1);
    transition: 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__item a:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__item a span:hover::before {
    transform: scale(1, 1);
  }
}

.contents-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.contents-swiper .swiper-slide {
  width: 48%;
}
@media screen and (min-width: 768px) {
  .contents-swiper .swiper-slide {
    width: 24.1581259151%;
  }
}

.contents-swiper__img {
  width: 100%;
}

.contents-swiper__img img {
  aspect-ratio: 180/131;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .contents-swiper__img img {
    aspect-ratio: 330/240;
  }
}

.menu-list__container {
  margin-top: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  width: 70.4347826087%;
}
@media screen and (min-width: 768px) {
  .menu-list__container {
    margin-top: 2.5rem;
    margin-left: 8.125rem;
    margin-right: 0;
    width: 59.375rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 6.25rem;
    row-gap: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .menu-list__items {
    width: 15.625rem;
  }
}

.menu-list__items:nth-child(n+2) {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .menu-list__items:nth-child(n+2) {
    margin-top: 0;
  }
}

.menu-list__item {
  display: flex;
  justify-content: space-between;
}

.menu-list__item:nth-child(n+2) {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .menu-list__item:nth-child(n+2) {
    margin-top: 2.5rem;
  }
}

.menu-list__item-name,
.menu-list__item-price {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4285714286;
  color: #2C3832;
}
@media screen and (min-width: 768px) {
  .menu-list__item-name,
  .menu-list__item-price {
    font-size: 1rem;
    line-height: 1.4375;
  }
}

.menu-list__item-price {
  flex-shrink: 0;
  padding-left: 0.1875rem;
}

@media screen and (min-width: 768px) {
  .form__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form__item--message {
  align-items: normal;
}

.form__item:nth-child(n+2) {
  margin-top: 2.4375rem;
}
@media screen and (min-width: 768px) {
  .form__item:nth-child(n+2) {
    margin-top: 2.5rem;
  }
}

.form__title-area--message {
  margin-top: 0.5rem;
}

.form__title {
  font-size: 1rem;
  line-height: 1.4375;
  color: #202925;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 1.5rem;
    line-height: 1.4583333333;
  }
}

.form__required {
  font-size: 1rem;
  line-height: 1.4375;
  color: #91855F;
}
@media screen and (min-width: 768px) {
  .form__required {
    font-size: 1.5rem;
    line-height: 1.4583333333;
  }
}

.form__input-area {
  margin-left: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .form__input-area {
    margin-left: 0;
    width: 26.25rem;
  }
}

.form__input-area--radio {
  margin-top: 0.625rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .form__input-area--radio {
    margin-top: 0;
  }
}

.form__radio:nth-child(1) {
  margin-left: 2.375rem;
}
@media screen and (min-width: 768px) {
  .form__radio:nth-child(1) {
    margin-left: 4.125rem;
  }
}

.form__radio:nth-child(2) {
  margin-left: 6.5rem;
}
@media screen and (min-width: 768px) {
  .form__radio:nth-child(2) {
    margin-left: 5rem;
  }
}

.form__radio label {
  position: relative;
}

.form__radio label::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid #91855F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.375rem;
}
@media screen and (min-width: 768px) {
  .form__radio label::before {
    width: 1.25rem;
    height: 1.25rem;
    left: -2.5rem;
  }
}

.form__radio input[type=radio]:checked + label::after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background-color: #91855F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -2.1875rem;
}
@media screen and (min-width: 768px) {
  .form__radio input[type=radio]:checked + label::after {
    width: 0.875rem;
    height: 0.875rem;
    left: -2.3125rem;
  }
}

.form__input-area--message {
  margin-top: 0.4375rem;
}
@media screen and (min-width: 768px) {
  .form__input-area--message {
    margin-top: 0.0625rem;
  }
}

.form__input-area input[type=text],
.form__input-area input[type=tel],
.form__input-area input[type=email],
.form__input-area textarea {
  border: 1px solid #91855F;
  border-top-right-radius: 0.625rem;
  width: 100%;
  padding: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .form__input-area input[type=text],
  .form__input-area input[type=tel],
  .form__input-area input[type=email],
  .form__input-area textarea {
    padding: 0.5rem;
  }
}

.form__input-area input[type=text],
.form__input-area input[type=tel],
.form__input-area input[type=email] {
  height: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .form__input-area input[type=text],
  .form__input-area input[type=tel],
  .form__input-area input[type=email] {
    height: 3.125rem;
  }
}

.form__input-area textarea {
  height: 15.625rem;
}
@media screen and (min-width: 768px) {
  .form__input-area textarea {
    height: 18.75rem;
  }
}

.form__text {
  margin-top: 0.875rem;
  font-size: 0.75rem;
  line-height: 1.4166666667;
  margin-left: 3.1875rem;
}
@media screen and (min-width: 768px) {
  .form__text {
    margin-top: 2.125rem;
    font-size: 0.875rem;
    line-height: 1.4285714286;
    display: flex;
    justify-content: flex-end;
  }
}

.form__btn {
  margin-top: 2.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .form__btn {
    margin-top: 5rem;
  }
}

.form__btn button {
  transition: 0.3s;
}

.form__btn button:hover {
  opacity: 0.5;
}

.form__btn .btn {
  padding: 0.625rem 2.3125rem;
}
@media screen and (min-width: 768px) {
  .form__btn .btn {
    font-size: 1.5rem;
    line-height: 1.4583333333;
    padding: 0.8125rem 4.125rem;
  }
}

.top-scroll-btn {
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: #91855F;
  border-radius: 50%;
  position: fixed;
  z-index: 5;
  right: 0.9375rem;
  bottom: 0.9375rem;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .top-scroll-btn {
    width: 3.125rem;
    height: 3.125rem;
    right: 1.25rem;
    bottom: 1.25rem;
  }
}

.top-scroll-btn span {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #E2E2E2;
  border-right: 0.125rem solid #E2E2E2;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  left: 50%;
}
@media screen and (min-width: 768px) {
  .top-scroll-btn span {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.top-scroll-btn span:nth-child(1) {
  top: 35%;
}

.top-scroll-btn span:nth-child(2) {
  top: 55%;
}

.top-scroll-btn span:nth-child(3) {
  top: 75%;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.is-fadein {
  opacity: 1;
}

.top-mv {
  height: max(100vh - 2.9375rem, 620px);
}
@media screen and (min-width: 768px) {
  .top-mv {
    height: max(100vh - 4.25rem, 700px);
  }
}

.top-mv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.commit {
  padding-top: 2.5rem;
  background: url(../img/top/img_bg.jpg) repeat center/cover;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .commit {
    padding-top: 5.625rem;
    padding-bottom: 6.25rem;
  }
}

.commit::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.commit__inner {
  position: relative;
  z-index: 3;
}

.commit__body {
  margin-top: 1.8125rem;
}
@media screen and (min-width: 768px) {
  .commit__body {
    margin-top: 3.4375rem;
    display: flex;
    justify-content: space-between;
  }
}

.commit__img {
  width: 69.5652173913%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .commit__img {
    width: 21.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.commit__img img {
  aspect-ratio: 240/160;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .commit__img img {
    aspect-ratio: 340/340;
  }
}

.commit__text {
  background-color: #202925;
  padding: 1.25rem 0.9375rem;
  color: #E3E3E3;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .commit__text {
    width: 43.125rem;
    padding: 2.5rem 4.6875rem 3.25rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.commit__text-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4583333333;
}
@media screen and (min-width: 768px) {
  .commit__text-title {
    text-align: center;
  }
}

.commit__text-text {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .commit__text-text {
    margin-top: 2.125rem;
    line-height: 2.25;
  }
}

.menu-mv {
  height: max(100vh - 2.9375rem, 500px);
  background-color: #202925;
}
@media screen and (min-width: 768px) {
  .menu-mv {
    height: max(100vh - 4.25rem, 700px);
  }
}

.menu-mv__inner {
  height: inherit;
  display: flex;
  align-items: center;
}

.menu-mv__body {
  width: 100%;
  margin-top: 2.5625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (min-width: 768px) {
  .menu-mv__body {
    margin-top: 3.5625rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.menu-mv__title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.425;
  color: #91855F;
  text-transform: uppercase;
}

.menu-mv__img {
  margin-top: 3.875rem;
  width: 20rem;
  margin-right: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .menu-mv__img {
    margin-top: 0;
    width: 37.625rem;
    margin-left: 13rem;
    margin-right: 0;
  }
}

.menu-mv__img img {
  aspect-ratio: 320/301;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .menu-mv__img img {
    aspect-ratio: 602/565;
    width: 100%;
    height: 100%;
  }
}

.dish {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .dish {
    padding-top: 6.875rem;
    padding-bottom: 6.25rem;
  }
}

.dish__container {
  margin-top: 1.8125rem;
}
@media screen and (min-width: 768px) {
  .dish__container {
    margin-top: 3.4375rem;
    display: flex;
    flex-direction: row-reverse;
  }
}

.dish__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .dish__img {
    width: 50%;
  }
}

.dish__img img {
  aspect-ratio: 345/251;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .dish__img img {
    aspect-ratio: 540/393;
  }
}

.dish__body {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .dish__body {
    margin-top: 0;
    width: 50%;
  }
}

.dish__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4583333333;
  margin-left: 50%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .dish__title {
    margin-left: 0;
    justify-content: center;
  }
}

.dish__title span {
  width: 1em;
}

.dish__title span:nth-child(1),
.dish__title span:nth-child(2) {
  margin-left: 2.5rem;
}
@media screen and (min-width: 768px) {
  .dish__title span:nth-child(1),
  .dish__title span:nth-child(2) {
    margin-left: 6.25rem;
  }
}

.dish__text {
  margin-top: 1.25rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding: 0.875rem 0.9375rem 0.8125rem 0.9375rem;
  background-color: #202925;
  font-size: 1rem;
  line-height: 2.25;
  color: #E3E3E3;
}
@media screen and (min-width: 768px) {
  .dish__text {
    margin-top: 0.8125rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0.875rem 1.875rem 0.8125rem 1.25rem;
  }
}

.dish__btn {
  margin-top: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .dish__btn {
    margin-top: 2.5rem;
  }
}

.recommend {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: url(../img/top/img_bg.jpg) repeat center/cover;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .recommend {
    padding-top: 6.875rem;
    padding-bottom: 6.25rem;
  }
}

.recommend::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #91855F;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.recommend__inner {
  position: relative;
  z-index: 3;
}

.recommend__container {
  margin-top: 1.8125rem;
}
@media screen and (min-width: 768px) {
  .recommend__container {
    margin-top: 3.4375rem;
  }
}

.recommend__img {
  width: 86.9565217391%;
}
@media screen and (min-width: 768px) {
  .recommend__img {
    width: 40.7407407407%;
  }
}

.recommend__img img {
  aspect-ratio: 300/218;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .recommend__img img {
    aspect-ratio: 440/320;
  }
}

.recommend__body {
  width: 90.7246376812%;
  margin-top: 1.25rem;
  margin-left: auto;
  background-color: #202925;
  padding: 1.25rem 0.875rem 1.25rem 0.9375rem;
  color: #E3E3E3;
}
@media screen and (min-width: 768px) {
  .recommend__body {
    width: 63.8888888889%;
    margin-top: -13.5rem;
    padding: 2.5rem 4.625rem 3.25rem 4.75rem;
  }
}

.recommend__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4583333333;
}
@media screen and (min-width: 768px) {
  .recommend__title {
    display: flex;
    justify-content: center;
  }
}

.recommend__text {
  margin-top: 1.25rem;
  font-size: 1rem;
  line-height: 1.4375;
}
@media screen and (min-width: 768px) {
  .recommend__text {
    margin-top: 2.1875rem;
    line-height: 2.25;
  }
}

.owner {
  padding-top: 2.5rem;
  background: url(../img/top/img_bg.jpg) repeat center/cover;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .owner {
    padding-top: 6.8125rem;
    padding-bottom: 8.0625rem;
  }
}

.owner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.owner__inner {
  position: relative;
  z-index: 3;
}

.owner__container {
  margin-top: 1.8125rem;
}
@media screen and (min-width: 768px) {
  .owner__container {
    margin-top: 3.4375rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.owner__img {
  width: 49.8550724638%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .owner__img {
    width: 34.2592592593%;
    margin: 0;
  }
}

.owner__img img {
  aspect-ratio: 172/209;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .owner__img img {
    aspect-ratio: 370/450;
  }
}

.owner__body {
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .owner__body {
    margin: 0;
  }
}

.owner__title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.425;
}
@media screen and (min-width: 768px) {
  .owner__title {
    font-size: 5rem;
    line-height: 1.4375;
  }
}

.owner__text {
  background-color: #202925;
  font-size: 1rem;
  line-height: 1.4375;
  color: #E3E3E3;
  padding: 1.25rem 0.9375rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  margin-top: -0.6875rem;
}
@media screen and (min-width: 768px) {
  .owner__text {
    line-height: 2.25;
    padding: 2.0625rem 4.6875rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: -1.5rem;
  }
}

.top-menu {
  padding-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .top-menu {
    padding-top: 6.875rem;
  }
}

.top-menu__container {
  margin-top: 1.8125rem;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
@media screen and (min-width: 768px) {
  .top-menu__container {
    margin-top: 3.4375rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.top__swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.top__swiper:not(.swiper-initialized) .swiper-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
}

.top__swiper .swiper-slide {
  width: 42.6666666667%;
}

.top__swiper:not(.swiper-initialized) .swiper-slide {
  width: 15rem;
}

.top__swiper:not(.swiper-initialized) .swiper-slide--mobile {
  display: none;
}

.top__swiper-img {
  width: 100%;
}

.top__swiper-img img {
  aspect-ratio: 160/110;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top__swiper:not(.swiper-initialized) .top__swiper-img img {
  aspect-ratio: 240/240;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-menu__btn {
  margin-top: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top-menu__btn {
    margin-top: 2.5rem;
  }
}

.news {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .news {
    padding-top: 6.875rem;
    padding-bottom: 6.25rem;
  }
}

.news__inner {
  width: 100%;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .news__inner {
    max-width: 51.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.news__container {
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .news__container {
    margin-top: 2.625rem;
  }
}

.news__item:nth-child(n+2) {
  margin-top: 0.6875rem;
}
@media screen and (min-width: 768px) {
  .news__item:nth-child(n+2) {
    margin-top: 1.25rem;
  }
}

.news__title {
  background-color: #91855F;
  padding: 0.0625rem 0.6875rem 0.1875rem 2.9375rem;
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .news__title {
    display: flex;
    padding: 0.8125rem 1.875rem 0.6875rem 4.6875rem;
  }
}

.news__title::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.625rem 1.0625rem 0.625rem;
  border-color: transparent transparent #E3E3E3 transparent;
  transform: rotate(90deg);
  position: absolute;
  top: 0.9375rem;
  left: 0.9375rem;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .news__title::before {
    border-width: 0 0.75rem 1.25rem 0.75rem;
    top: 1.25rem;
    left: 2.5rem;
  }
}

.news__title.open::before {
  transform: rotate(180deg);
}

.news__title time {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  color: #E3E3E3;
}
@media screen and (min-width: 768px) {
  .news__title time {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.news__title h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375;
  color: #E3E3E3;
  margin-top: -0.0625rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) {
  .news__title h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 0;
    margin-left: 1.875rem;
  }
}

.news__content {
  display: none;
  padding: 1.25rem 1.1875rem 1.125rem 1.25rem;
  border: 0.0625rem solid #707070;
}
@media screen and (min-width: 768px) {
  .news__content {
    padding: 2rem 2.5rem 2rem 2.4375rem;
  }
}

.news__item:first-child .news__content {
  display: block;
}

.news__text {
  font-size: 1rem;
  line-height: 1.4375;
  color: #202925;
}
@media screen and (min-width: 768px) {
  .news__text {
    line-height: 2.25;
  }
}

@media screen and (min-width: 768px) {
  .top-plates {
    margin-top: 2.5rem;
  }
}

.top-course,
.top-desert,
.top-drink,
.top-softdrink {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .top-course,
  .top-desert,
  .top-drink,
  .top-softdrink {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .course-text {
    margin-top: 3.125rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.4285714286;
    text-align: right;
  }
}

.contact-mv {
  height: max(100vh - 2.9375rem, 500px);
  background: url(../img/contact/img_contact_mv_sp.jpg) no-repeat center/cover;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .contact-mv {
    height: max(100vh - 4.25rem, 700px);
    background: url(../img/contact/img_contact_mv.jpg) no-repeat center/cover;
  }
}

.contact-mv::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 41, 37, 0.49);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .contact-mv::before {
    background-color: rgba(32, 41, 37, 0.5);
  }
}

.contact-mv__inner {
  height: inherit;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .contact-mv__inner {
    justify-content: flex-start;
  }
}

.contact__title {
  font-size: 2rem;
  line-height: 1.4375;
  font-weight: 400;
  color: #E2E2E2;
  margin-top: -19.5rem;
}
@media screen and (min-width: 768px) {
  .contact__title {
    font-size: 2.5rem;
    line-height: 1.425;
    margin-top: 3.4375rem;
    margin-left: 1.875rem;
  }
}

.contact {
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .contact {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
  }
}

.contact__form {
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .contact__form {
    margin-top: 2.5rem;
  }
}

.form__item-container {
  width: 88.4057971014%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .form__item-container {
    width: 43.125rem;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

.text-green {
  color: #202925;
}

.text-gray {
  color: #E2E2E2;
}

/*# sourceMappingURL=style.css.map */
